body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.favButton {
  background-color: rgba(136, 136, 136, 0.116);
  padding: 10px;
  border: none;
  width: 100%;
  cursor: pointer;
}

h1 {
  text-align: center;
}

nav {
  width: 100%; /* Set width to full viewport width */
  display: flex;
  justify-content: space-around;
  padding: 1rem 0; /* Adjust padding as needed */
  box-sizing: border-box; /* Ensures padding doesn't affect the total width */
}

a {
  color: #000;
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}

a:hover {
  color: rgb(136, 136, 136);
}

footer {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-top: 2rem;
}

footer > img {
  width: 200px;
  margin: 0;
}

footer > p {
  margin: 0;
  padding-top: 0.7rem;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 300px;
  height: 100px;
  margin: 0 auto;
}

.card {
  flex: 0 0 calc(20% - 10px); /* Five cards per row, accounting for gap */
  margin-bottom: 20px; /* Margin at the bottom of each card */
  text-align: center; /* Center text inside cards */
  border: 1px solid #ccc; /* Border around cards */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
  padding: 1rem; /* Padding inside cards */
  box-sizing: border-box; /* Include padding and border in the width calculation */
  border-radius: 10px; /* Rounded corners for the cards */
}

.card img {
  max-width: 100%; /* Responsive image size */
  height: auto; /* Maintain aspect ratio */
  margin-bottom: 1rem; /* Space below the image */
  border-radius: 10px; /* Rounded corners for the image */
}

.card:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Slightly more pronounced shadow on hover */
}

.card-grid {
  display: flex;
  flex-wrap: wrap; /* Allows cards to wrap to next line */
  gap: 10px; /* Adjust the gap to your preference */
  justify-content: space-around; /* Evenly distribute space around items */
  align-items: flex-start; /* Aligns items to the start of the cross axis */
}

@media (max-width: 1024px) {
  .card {
    flex: 0 0 calc(50% - 10px); /* Two cards per row on medium screens */
  }
}

@media (max-width: 768px) {
  .card {
    flex: 0 0 calc(100% - 10px); /* One card per row on small screens */
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  display: table;
  border: 1px solid #ccc;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.dark {
  background-color: #121212;
  color: white;
}

.dark a {
  color: white;
}
